<?xml version="1.0"?>
<launch>
        <arg name="bag" default="/tmp/tmp.bag"/>
<!--        <param name="/use_sim_time" value="false"/>-->

        <!--To record only raw data-->
        <!-- http://wiki.ros.org/openni_launch/Tutorials/BagRecordingPlayback-->
        <node name="rosbag_record" pkg="rosbag" type="record" output="screen" args="
        /tf
        /tf_static
        /joint_states
        /body_camera/rgb/image_raw/compressed
        /body_camera/rgb/camera_info
        /body_camera/depth/image_raw
        /body_camera/depth/camera_info
        /hand_camera/rgb/image_raw/compressed
        /hand_camera/rgb/camera_info
        /hand_camera/depth/image_raw
        /hand_camera/depth/camera_info
        /lidar3d/points
        -o $(arg bag)">
        </node>
</launch>
